<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles/common1.css">
</head>
<body>
{{{body}}}
<script type="text/javascript" src="/static/scripts/common.js"></script>
</body>
</html>
